{% extends 'handmade/index.html' %}
{%block oznokom%} {%endblock%}
{%block main%}

    <content>
        <div class="content">
            <div class="maps">  
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4612.442243398847!2d46.39151757170924!3d55.51224192694809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415b20ea60ab9805%3A0x58443b41226f8019!2z0KjRg9C80LXRgNC70LjQvdGB0LrQuNC5INCf0L7Qu9C40YLQtdGF0L3QuNGH0LXRgdC60LjQuSDQotC10YXQvdC40LrRg9C8!5e1!3m2!1sru!2sru!4v1683212621706!5m2!1sru!2sru" width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                 <p>Адрес
                       ул. Некрасова, 62</p>
                    <p> Контакты
                        +7 (83536) 2-14-21</p>
                    <p> Время работы
                        Открыто до 16:30</p>
            </div>
        </div>
    </content>
 {%endblock%}
