<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<р>Политика конфиденциальности для сайта

1. Сбор информации

Мы собираем информацию о пользователях нашего сайта в следующих случаях:
- При регистрации на сайте
- При заполнении форм обратной связи
- При оформлении заказов на сайте
- При подписке на нашу рассылку

2. Виды собираемой информации

Мы можем собирать следующие виды информации:
- Имя и контактные данные пользователя
- Информацию о заказах и покупках пользователя
- Информацию о посещении сайта и взаимодействии пользователя с ним

3. Использование информации

Мы используем собранную информацию для следующих целей:
- Обработки заказов и оказания услуг
- Предоставления персонализированных рекомендаций и предложений
- Рассылки новостей и акций
- Улучшения работы сайта и предоставления более качественного сервиса

4. Защита информации

Мы принимаем все необходимые меры для защиты собранной информации от несанкционированного доступа или использования.

5. Раскрытие информации третьим лицам

Мы не передаем собранную информацию третьим лицам без согласия пользователя, за исключением случаев, предусмотренных законодательством.

6. Контроль над информацией

Пользователи имеют право в любое время изменить, удалить или ограничить использование их персональной информации.

7. Политика использования файлов cookie

Мы используем файлы cookie для улучшения работы сайта и предоставления персонализированной информации. Пользователи могут отключить файлы cookie в настройках своего браузера.

8. Изменения политики конфиденциальности

Мы оставляем за собой право вносить изменения в политику конфиденциальности нашего сайта. Уведомления о внесенных изменениях будут отправлены пользователям на их контактные данные.

Если у вас есть какие-либо вопросы или предложения по поводу нашей политики конфиденциальности, свяжитесь с нами по контактной информации, указанной на сайте.
</р>

</body>
</html>